/*****************************HEADER STYLES*****************************/
.heading {
  text-align: center;
  font-size: 64px;
  font-weight: 300;
  margin: 80px 0 25px;
  color: #2c3e50;
}
.headingBold {
  font-weight: 700;
}
.subHeading {
  text-align: center;
  color: #bdc3c7;
  font-weight: 300;
}

.button{
  margin: 10px 5px;
  font-size: 1rem;
  background-color: lightgray;
  padding: 10px;
  letter-spacing: 2px;
  border-radius: 3px;
}

p {
  text-align: center;
}
